<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Utility Library" verbose="1" >

    <test name="IsWordPalindrome" >
        <classes>
            <class name="com.btiddle.IsWordPalindromeTests" />
        </classes>
    </test>

    <test name="Fibonacci" >
        <classes>
            <class name="com.btiddle.FibonacciTests" />
        </classes>
    </test>

    <test name="ReverseString">
        <classes>
            <class name="com.btiddle.ReverseStringTests"/>
        </classes>
    </test>

</suite>
